<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.oufa.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".sign_in">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".sign_up" />
        <activity android:name=".doctor_main" />
        <activity android:name=".patient_main" />
        <activity android:name=".home_patient" />
        <activity android:name=".consult_diabet" />
        <activity android:name=".consult_tension" />
        <activity android:name=".consult_medecin" />
        <activity android:name=".setting_patient" />
        <activity android:name=".add_medecin" />
        <activity android:name=".consult_patient" />
        <activity android:name=".setting_medecin"></activity>
    </application>

</manifest>